@charset "UTF-8";

#wrapper {
    overflow: hidden;
}

header {
    height: 20px;
    width: 1000px;
    background-color: #ffcccc;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

#main {
    float: left;
    width: 700px;
    height: 400px;
    background-color: #ccffcc;
}

#menu {
    float: right;
    width: 300px;
    height: 200px;
    background-color: #ccccff;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

footer {
    height: 20px;
    width: 1000px;
    background-color: #ffccff;
}
